body{
  color: white;
  text-align: center;
  padding: 2rem;
  &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: radial-gradient(ellipse at bottom, #1D0559 0%, #020112 50%);
      z-index: -1000;
    }
}